{% extends "base.html" %}
{% block content %}
<br><br><br><br>
{% for i in pro  %}
{% if i.name == "YouTube premium" %}
    <span><a href="{% url "youtube" %}"><h1>{{i.name}}</h1></a></span>
{% elif i.name == 'PUBG' %}
    <span><a href="{% url "pubg" %}"><h1>{{i.name}}</h1></a></span>
{% elif i.name == 'IPTV' %}
    <span><a href="{% url "iptv" %}"><h1>{{i.name}}</h1></a></span>
{% elif i.name == 'Shahid Sport VIP' %}
    <span><a href="{% url "pubg" %}"><h1>{{i.name}}</h1></a></span>
{% endif %}
<img src="{{i.image.url}}" alt="">
<h3>{{i.price}} SR</h3>
<br><br><br><br>
{% endfor %}
{% endblock content %}